@import "../../utils/variables.scss";

.footer{
    margin-top: 48px;
    border-top: 1px solid $pantone802C;
    padding: 0 12.5vw;
    height: 64px;
    width: 100%;
}

.anchor__icon {
    margin-top: 16px;
    height: 32px;
}
